body {
  background-color: #002944;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.7) 0%, rgba(30, 131, 253, 0.863) 100%)
    url('../assets/fondo-con-textura-de-vidrio-patron.jpg');
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Segoe UI', Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Estilos para el header */
.header-bio {
  background-color: radial-gradient(circle, rgba(56, 4, 4, 0.7) 0%, rgba(30, 131, 253, 0.863) 100%);
  /* Color azul del Barça */
  color: white;
  padding: 1rem 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  top: 0;
  z-index: 100;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.header-bio h1 {
  margin: 0;
  font-size: 1.8rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin-left: 1.5rem;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #004d98;
  /* Color granate del Barça */
}

.biografia-carta {
  max-width: 700px;
  padding: 20% 50%;
  background: linear-gradient(#0063a5, rgba(0, 0, 0, 0));
  color: #ffffff;
  
  font-family: 'Segoe UI', sans-serif;
  animation: fadeIn 0.6s ease-in;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.nombre {
  font-weight: bold;
  font-size: 1.8rem;
  background: linear-gradient(to right, #cac6c1, #e4dcdf);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.nombre-jugador_fondo {
  position: absolute;
  font-size: 22vw;
  font-weight: 900;
  color: rgba(245, 243, 243, 0.267);
  text-transform: uppercase;
  white-space: nowrap;
  /* Centrado absoluto */
  top: 0%;
  transform: translate(-50%, -50%);
  /* Ajusta el punto de referencia */
  z-index: 0;
  pointer-events: none;
  user-select: none;
  letter-spacing: 10px;
  line-height: 0.6;
  font-style: italic;
  mask-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%);
  width: 100%;
  /* Asegura que no se desborde */
  text-align: center;
  /* Centra el texto horizontalmente */
}

.datos-jugador_bio {
  position: absolute;
  top: 2%;
  left: 5%;
}

.datos-jugador_bio2 {
  position: absolute;
  bottom: 10%;
  left: 5%;
}

.foto-jugador_bio {
  max-width: 100%;
  height: 100%;
  border-radius: 8px;
  flex-shrink: 0;
  position: absolute;
  right: 10%;
  bottom: 0;
}

.stats {
  padding: 0;
  display: flex;
  gap: 1rem;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.stats-2 {
  padding: 0;
  display: flex;
  gap: 1rem;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.names {
  font-size: 1rem;
  color: #ffffff;
  font-weight: bold;
  margin: 0;
  padding: 0;

}

.numbers {
  font-size: 6vmax;
  color: #ffc422;
  font-weight: bold;
  margin-bottom: -10px;
  margin-top: -20px;
  padding: 0;
  text-shadow: 2px 2px 4px rgba(31, 29, 29, 0.5);
}

.sub-numbers {
  font-size: 2vmax;
  color: #ffc422;
  font-weight: bold;
  padding: 0;
  text-shadow: 2px 2px 4px rgba(31, 29, 29, 0.5);
}

.biografia-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
gap: clamp(1.0rem, 1vw, 1.0rem);
background-color: #0a0909e8;
color: #cac6c1;
  max-width: 93.75rem;
  margin-left: auto;
  margin-right: auto;
padding: clamp(24px, 6vw, 50px) clamp(12px, 4vw, 24px);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.10);
  border-radius: 6px;
  min-height: 100px;
  position: relative;
}

.biografia{
text-align: center;
display: grid
}

/* Media Query para móviles (hasta 768px) */
@media screen and (max-width: 768px) {
  .biografia-carta {
    max-width: 900px;
    padding: 60% 50%;
  }

  .foto-jugador_bio {
    max-width: 100%;
    height: 70%;
    right: -10%;
    bottom: 26%;
    border-radius: 0px;

  }

  .nombre-jugador_fondo {
    position: absolute;
    font-size: 10vw;
    font-weight: 900;
    top: 60%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.897);
    left: 40%;
  }

  .datos-jugador_bio {
    top: 74%;
    z-index: 1;
    left: 0;
    right: 0;
    width: 100%;
    height: 20%;
  }

  .datos-jugador_bio2 {
    position: absolute;
    top: 0%;
    left: 0%;
  }



  .names {
    font-size: 0.8rem;
    color: #ffffff;
    font-weight: bold;
    margin: 0;
    padding: 0;

  }
  .stats {
    text-align: center;
    width: 100%;
    border-radius: 10px;
    margin-left: 0px;
    margin-right: 0px;
    gap: 30%
  }


  .numbers {
    font-size: 4vmax;
    color: #ffc422;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0;
    text-shadow: 2px 2px 4px rgba(31, 29, 29, 0.5);
  }

  .sub-numbers {
    font-size: 2vmax;
    color: #ffc422;
    font-weight: bold;
    padding: 0;
    text-shadow: 2px 2px 4px rgba(31, 29, 29, 0.5);
  }
  .stats-2 {
    padding: 0;
    display: flex;
    gap: 0.5rem;
    text-align: left;
    flex-direction: column;
    list-style-type: none;
    margin-top: 10px;
  }

  .biografia{
  text-align: center;
  display: grid;
  font-size: 1rem;
  }

}

@media screen and (max-width: 500px) { 
  .stats {
    gap: 20%
  }
}